<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>

  </thead>

  <tbody>
    <% @post.images.each do |image| %>
      <img src ="<%= image %>" alt="Image">
    <% end %>

    <% @comments.each do |comment| %>
        User name :<%= comment.user_name %><br>
        Title :<%= comment.title %><br>
        Review :<%= comment.content %>
        <br>
        <%= link_to 'Show', comment %> |
        <%= link_to 'Edit', edit_comment_path(comment) %> |
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
        <br>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %> |
<%= link_to 'Item', posts_path %> |
<%= link_to 'Toppage', root_path %>
