<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Email</td>
      <td>User_type</td>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.id %></td>
      <td><%= supplier.name %></td>
      <td><%= supplier.phone_number %></td>
      <td><%= supplier.email %></td>
      <td><%= supplier.company_number %></td>
      <td><%= supplier.type %></td>
    </tr>
    <% end %>
  </tbody>
</table>
