<%= render 'partials/nav' %>
<p id="notice"><%= notice %></p>

<div class = "welcomeFairtrade">
   <h1>Welcome to Fairtrade page</h1>
</div>

<% if user_signed_in? %>
<!-- signedin -->
  <% if current_user.supplier.present? %>
  <!-- present -->
  <%#= current_user.supplier.inspect %>
    <% if current_user.supplier.verified %>
       <div class = "post-new-item">
         <%= link_to 'Post new item', posts_path %>
       </div>
    <% end %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
     <div class = "post-new-item2">
       <%= link_to 'Post new item', posts_path %>
     </div>
  <% end %>
<% end %>
<!--
<div class = "container-fluid-toppage" >
   <div class="row">
   	<div class="col-md-6">
   		<div class="thumbnail">
   			<img src="https://images.pexels.com/photos/95425/pexels-photo-95425.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
   			<div class="caption">
   				<h4>What is fairtrade<h4>
           <br>
   			</div>
   		</div>
   	</div>
    <div class="col-md-6">
   		<div class="thumbnail">
   			<img src="https://images.pexels.com/photos/75652/boards-glasses-smartphone-phone-75652.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
   			<div class="caption">
   				<h4>Market<h4>
          <% link_to "Post items as Supplier", posts_path %><button type="button" class="btn btn-primary" data-toggle="button"></button>
           <br>
   			</div>
   		</div>
   	</div>
   </div>
</div>

<div class = "container-fluid-toppage2" >
   <div class="col-md-6">
     <div class="thumbnail">
       <img src="http://img11.deviantart.net/a5f8/i/2012/267/5/6/corkboard_act1_by_infinityunbound-d5fro0i.png">
       <div class="caption">
         <h4>Corkboard<h4>
          <br>
       </div>
     </div>
   </div>
   <div class="row">
   	<div class="col-md-6">
   		<div class="thumbnail">
   			<img src="https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
   			<div class="caption">
   				<h4>Inquiry and Contact<h4>
           <br>
   			</div>
   		</div>
   	</div> -->

   </div>
</div>

<h2>New arrival</h2>
display current 4 items or each of laetest products
<% @posts.reverse[0..2].each do |post| %>
<div class="row">
	<div class="col-xs-6 col-md-3">
		<div class="thumbnail">
        <!-- <img src ="<%#= image %>" alt="Image"> -->
			<div class="caption">
				<h4><%= post.item_name %><h4>
        <br>
        <%= link_to "See more", post_path(post.id) %>
        <%= render 'partials/stripe', post: post %>
        <!-- <div class="btn-group" data-toggle="buttons-checkbox">
          <button type="button" class="btn btn-primary-see-more"><%= link_to "See more", post_path(post.id) %></button>
          <button type="button" class="btn btn-primary-purchase">Purchase</button>
        </div> -->
			</div>
		</div>
	</div>
</div>
  <% end %>
