<%= render 'partials/nav' %>
<p id="notice"><%= notice %></p>

<div class = "fairtrade_fairenough">
  <img src="https://image.ibb.co/fNvzqk/githublogofe.png" width="600" />
</div>
   <!-- </div>
</div> -->


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail-1">
      <img src="https://images.pexels.com/photos/2128/person-woman-sitting-old.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="about-ft" height="300">
      <div class="caption">
        <h3>Poverty</h3>
        <h4>900 million people living with USD 1.9/day</h4>
        <h4>20 billion farmer are less paid</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail-2">
      <img src="https://images.pexels.com/photos/13918/pexels-photo-13918.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="about-ft" height="300">
      <div class="caption">
        <h3>Fair trade</h3>
        <h4>A fair treatment for farmers</h4>
        <h4>Selling Items with fair price</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail-3">
      <img src="https://images.pexels.com/photos/95425/pexels-photo-95425.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="about-ft" height="300">
      <div class="caption">
        <h3>Let's join</h3>
        <h4>AUD 10 billion annual turnover in global</h4>
        <h4>74 countries, 1.5 million people</h4>
      </div>
    </div>
  </div>
</div>


<br>
<br>

<h2>New arrival Items</h2>
<br>
<div class="row">
<% @posts.reverse[0..3].each do |post| %>
	<div class="col-xs-6 col-md-3">
		<div class="thumbnail">
      <% post.images.each do |image| %>
          <img src ="<%= image %>" alt="Image">
        <% end %>
        <!-- <#%= post.inspect %> -->
			<div class="caption">
				<h4><%= post.item_name %><h4>
        <br>
        <%= link_to "See more", post_path(post.id) %>
        <br><br>
        <%= render 'partials/stripe', post: post %>
        <!-- <div class="btn-group" data-toggle="buttons-checkbox">
          <button type="button" class="btn btn-primary-see-more"><%= link_to "See more", post_path(post.id) %></button>
          <button type="button" class="btn btn-primary-purchase">Purchase</button>
        </div> -->
			</div>
		</div>
	</div>
    <% end %>
</div>
