<p id="notice"><%= notice %></p>

<h1>All Items</h1>

<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label :search%>
    <%= f.text_field :item_name_or_item_description_or_supplier_name_or_supplier_description_cont %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>
<% end %>

<% if user_signed_in? %>
   <% @posts.reverse.each do |post| %>
      <% post.images.each do |image| %>
         <img src ="<%= image %>" alt="Image">
       <% end %>
      Item name :<%= post.item_name %><br>
      Item description :<%= post.item_description %><br>
      Supplier name :<%= post.supplier_name %><br>
      Supplier description :<%= post.supplier_description %><br>
   <% end %>
<% else %>
   <% @posts.reverse.each do |post| %>
      <% post.images.each do |image| %>
          <img src ="<%= image %>" alt="Image">
      <% end %>
       Item name :<%= post.item_name %><br>
       Item description :<%= post.item_description %><br>
       Supplier name :<%= post.supplier_name %><br>
       Supplier description :<%= post.supplier_description %><br>
       <!-- <td><%= post.user %></td> -->
      <%= link_to 'Show', post %> |
         <% if user_signed_in? %> |
         <% else %>
            <%= link_to 'Edit', edit_post_path(post) %> |
      <% end %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <br>
   <% end %>
<% end %>

<br>
<% if user_signed_in? %>
  <%= link_to 'Toppage', root_path %> |
<% else %>
  <%= link_to 'New Post', new_post_path %> |
  <%= link_to 'Top page', root_path %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
     <%= link_to 'New Post', new_post_path %>
  <% end %>
<% end %>
