<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @post.item_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @post.item_description %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @post.supplier_name %>
</p>

<p>
  <strong>Supplier description:</strong>
  <%= @post.supplier_description %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%#= @post.user %>
</p> -->

<%= @post.inspect %>
<br>
<% @post.images.each do |images| %>
<img src ="<%= @post.images %>" alt="images">
<% end %>
<br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Top page', root_path %>
