<p id="notice"><%= notice %></p>


   <% @post.images.each do |image| %>
     <img src ="<%= image %>" alt="Image">
   <% end %>

   <p>
     <strong>Item name:</strong>
     <%= @post.item_name %>
   </p>

   <p>
     <strong>Item description:</strong>
     <%= @post.item_description %>
   </p>

   <p>
     <strong>Supplier name:</strong>
     <%= @post.supplier_name %>

   <p>
   <strong>Supplier description:</strong>
     <%= @post.supplier_description %>
   </p>
<br>
<br>
   <% @comments.reverse[0..2].each do |comment|%>
     <strong>Review:</strong>
     User name : <%= comment.user_name %><br>
     Title :<%= comment.title %><br>
     Content :<br><%= comment.content %><br>
     <br>
   <% end %>

   <!-- <p>
  <strong>User:</strong>
  <%#= @post.user %>
</p> -->

<br>

<% if user_signed_in? %>
   <%= link_to 'Back', posts_path %> |
   <%= link_to 'Top page', root_path %> |
   <%= link_to 'Post a comment', new_comment_path %>
<% else %>
   <%= link_to 'Edit', edit_post_path(@post) %> |
   <%= link_to 'Back', posts_path %> |
   <%= link_to 'Top page', root_path %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    | <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %>
<% end %>
