<p id="notice"><%= notice %></p>

   <% @post.images.each do |image| %>
     <img src ="<%= image %>" alt="Image">
   <% end %>
<br>
<br>
   <p>
     <strong>Item name:</strong>
     <%= @post.item_name %>
   </p>

   <p>
     <strong>Item description:</strong>
     <%= @post.item_description %>
   </p>

   <p>
     <strong>Supplier name:</strong>
     <%= @post.supplier_name %>

   <p>
   <strong>Supplier description:</strong>
     <%= @post.supplier_description %>
   </p>

   <!-- <p>
   <strong>ID:</strong>
     <%#S= @post.id %>
   </p> -->
<br>
<br>
<% @comments.reverse[0..2].each do |comment|%>
  <strong>Review:</strong>
  <strong>User name:</strong>
    <%= comment.user_name %><br>
  <strong>Title:</strong>
    <%= comment.title %><br>
  <strong>Content:</strong><br>
    <%= comment.content %><br>
  <br>
<% end %>

<br>
<% if user_signed_in? %>
  <% if current_user.supplier.present? %>
    <% if current_user.supplier.verified %>
    <% else %>
      <%= render 'partials/stripe', post: @post %>
    <% end %>
  <% end %>
<% end %>
<br>
<% if user_signed_in? %>
   <%= link_to 'All Items', posts_path %> |
   <%= link_to 'Top page', root_path %> |
   <%= link_to 'Post a comment', new_post_comment_path(@post.id) %> |
   <%= link_to 'Edit Comment', edit_post_comment_path(@post.id) %>    <!--#current user's comment -->
<% else %>
   <%= link_to 'Edit Post', edit_post_path(@post.id[] ) %> |
   <%= link_to 'All Items', posts_path %> |
   <%= link_to 'Top page', root_path %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    | <%= link_to 'Edit Post', edit_post_path(@post) %>

  <% end %>
<% end %>
