<p id="notice"><%= notice %></p>


   <% @post.images.each do |image| %>
     <img src ="<%= image %>" alt="Image">
   <% end %>

   <p>
     <strong>Item name:</strong>
     <%= @post.item_name %>
   </p>

   <p>
     <strong>Item description:</strong>
     <%= @post.item_description %>
   </p>

   <p>
     <strong>Supplier name:</strong>
     <%= @post.supplier_name %>

   <p>
   <strong>Supplier description:</strong>
     <%= @post.supplier_description %>
   </p>

   <% @comments.each do |comment|%>
     <strong>Comments:</strong>
     <%= comment.title %>
   <% end %>

   <!-- <p>
  <strong>User:</strong>
  <%#= @post.user %>
</p> -->


<br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Top page', root_path %> |
<%= link_to 'Post a comment', new_comment_path %>
