<p id="notice"><%= notice %></p>

<h3>Supplier Profile</h3>
<br>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier.supplier_name %>
</p>

<p>
  <strong>Supplier phone number:</strong>
  <%= @supplier.supplier_phone_number %>
</p>

<p>
  <strong>Company number:</strong>
  <%= @supplier.company_number %>
</p>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <p>
    <strong>Verified:</strong>
      <%= @supplier.verified %>
    </p>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
     <%= link_to 'Admin index', admin_index_path %> |
     <%= link_to 'Toppage',  root_path %>
  <% else%>
     <%= link_to 'Back', suppliers_path %> |
     <%= link_to 'Toppage',  root_path %>
  <% end %>
<% end %>
