<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier.supplier_name %>
</p>

<p>
  <strong>Supplier phone number:</strong>
  <%= @supplier.supplier_phone_number %>
</p>

<p>
  <strong>Company number:</strong>
  <%= @supplier.company_number %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @supplier.verified %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
